.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*background-color: greenyellow;*/
  background-image: url('../assets/tomate.jpg');
}

.titulo{
  font-size: 20px;
  margin-left: 450px;
  margin-bottom: -20px;
}

.image-container, .buttons {
  margin-top: 20px;
}

.image-container {
  /*background-color: aqua;*/
  background-color: rgb(105, 78, 4);
  width: 1210px;
  height: 600px;
  margin-left: 20px;
  border-radius: 8px;

  /* Añade estas líneas */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Añade la imagen de fondo
  background-image: url('../assets/cafe.jpg');*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /*opacity: 0.5;*/
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*background-color: rgb(23, 88, 230);*/
  background-color: rgb(3, 145, 15);
  width: 420px;
  height: 600px;
  margin-right: 70px;
  border-radius: 8px;
}

.results {
  /*background-color: rgb(23, 88, 230);*/
  background-color: rgb(3, 145, 15);
  width: 95%;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 6px;
  padding-left: 8px;
  margin-bottom: 10px;
}

.boton-archivo{
  display: none;
}

.boton-modelo, .boton-pdf{
  width: 300px;
  height: 40px;
  margin-left: 60px;
  border-radius: 3px;
  margin-top: 20px;
  font-style:italic;
  font-weight:bold;
}

.boton-pdf{
  margin-top: 20px;
}

.titulo-botones{
  margin-left: 60px;
  font-size: 30px;
}

mat-progress-bar {
  margin-top: 20px;
  width: 800px;
  height: 50px;
  background-color: aqua;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
}
